.emp-icon{
display: flex;
  justify-content: center;
  align-items: center;  
}

/* Label icon සහ text bold කරන style */
.card-body .form-label {
  font-weight: bold;  /* text bold */
  display: flex;
  align-items: center;
  gap: 6px; /* icon සහ text අතර gap */
}

.card-body .form-label i {
  font-weight: bold;  /* icon bold effect */
  color: #000; /* icon color black */
}
/* Employee.css */

.bi {
  cursor: pointer; /* cursor change */
  transition: color 0.3s ease, transform 0.2s ease; /* smooth animation */
}

.bi:hover {
  color: #ffc107; /* yellow on hover */
  transform: scale(1.2); /* slightly bigger on hover */
}
